p {
	margin-bottom: 20px;
}

.formLabelRequired {
	font-weight: bold;
}
.formLabelRequiredError {
	font-weight: bold;
	color: #f60;
}
.formLabelError {
	font-weight: bold;
	color: #f00;	
}