body, table {
	background: #fff;
	color: #000;
}

#headingMenu, #headingEmail, #footer a {display: none;}

#heading {
	height:150px!important;
	margin-bottom: 30px;
	clear:both;
}

h1, h2, h3 {
	color: #000 !important;
}