

.galleryItem
{
	float:left;
	width:100px;
	height:100px;
	border:1px solid #ccc;
	padding:5px;
	margin:5px;
	position:relative;
	text-align:center;
}

.galleryItem img:hover
{
	cursor: pointer;
}

.galleryItem .gallerItemDelete
{
	position:absolute;
	display:block;
	left:5px;
	bottom:5px;
}