#mainContent {
	margin-left: 200px;
	border-left: 1px solid black;
	padding-left: 10px;
}

#navigationMenu {
	float: left;
	width: 200px;
	margin: 0;
}

#navigationMenu h1 {
	margin-top: 0;
}

td.elmentLabel {
	font-weight: bold;
}

td.elementDesc {
	width: 550px;
	padding-bottom: 30px;
}